@font-face {
  font-family: 'Exo';
  src: url("../asssets/fonts/Exo2.0-Thin.otf");
  font-weight: 100;
}

// https://russianfonts.org/
@font-face {
  font-family: 'Trebuchet MS';
  src: url("../asssets/fonts/Trebuchet-MS-Bold.ttf");
  font-weight: 700;
}

@font-face  {
  font-family: 'Trebuchet MS';
  src: url("../asssets/fonts/Trebuchet-MS-Regular.ttf");
  font-weight: 400;
}
