// Colors
$black: #000000;
$white: #ffffff;
$grey: #666666;
$blue: #1698D9;
$pink: #D91667;
$light_grey: #B3B3B3;
$yellow: #FFFF66;

:root {
  --white: #fff;
  --black: #000;
  --grey: #666666;
  --blue: #1698D9;
  --blue-hover: #2EA8E6;
  --pink: #D91667;
  --pink-hover: #E52E7A;
  --pink-text: #E62E7A;
  --light_grey: #B3B3B3;
  --yellow: #FFFF66;

  --card-background: #F2F2F2;
}
